/* Obtained from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&display=swap');

/* The wild car format was adapted from the course work */
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
       font-family:Nunito,sans-serif; 
   
}

/*style for the header section*/

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 5px 0;
    background-color: burlywood;
    
}

.nav-menu{
 margin-top: 60%;
}

.nav-menu>a{
    padding: 0px 15px;
    margin:  0px 20px;
    font-size:larger;
    font-weight:500;
    letter-spacing: 1px;
    text-decoration: none;
    color:black;
}

nav ol {
    display: block;
    margin-top: 60px;
    font-size: x-large;
}

nav li{
    list-style-type: none;
    display: inline;
    padding-right: 50px;
    margin-bottom: 20px;
    
}

.nav-menu>a:hover {  
    color:rgba(151, 49, 12, 0.986);
    border-bottom: 1px solid chocolate;
}
.active{
    border-bottom: 1px solid chocolate;
}

h1{
    margin: 51px;
    width: 50px;
    display: inline;
    
}


#logo>img{
    border-radius: 100%;
    padding-top: 8%;
    height: 130px;   
}

#hero-image{
    width: 100%;
       
}

#hero-image>img{ 
    background: no-repeat center center;
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: 600px;
}
     
 

.hero-section{
    position: relative;
}

#quote>p{
    color: white;
    font-weight: bolder;
    font-size:larger;
    font-style:italic;
    position: absolute;
    width: 270px;
    height:80px;
    right:200px;
    bottom:0px;
}

.def-meditation {
    margin: 20px auto;
    width: 75%;
    
}

#meditation-benefit{
    margin-bottom: 10px; 
}

#meditation-benefit>a{
    text-decoration: none;
    color:coral;
}

p{
 margin-bottom: 20px;
 width: 75%;
 text-align: justify;
}

ul{
    list-style-type:square;   
}

li {
    content: "\261B";
    color: black;
    font-weight: bold;
    padding-right: 10px;
    text-align: justify;
}

.meditation-types{
    margin: 20px auto;
    width: 75%;
   }

.form-section{
    display: flex;
    justify-content: center;
}

.form-content{   
    margin: 20px 0 40px 190px;
}

.label{
font-weight: 500;
}

.contact{
    color: black;
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 2px; 
    margin-bottom: 10px;    
}

.contact:hover{
    border: 2px solid chocolate;
}

.feedback{
    border: 1px solid black;
    width: 400px;
    height: 70px;
    border-radius: 2px; 
    margin-bottom: 10px;   
}

.feedback:hover{
    border: 2px solid chocolate;
}

.submit-button{
    border: 1px solid black;
    width: 150px;
    height:30px;
    text-align: center;
    border-radius: 2px; 
    background-color:wheat;
    margin: 25px 0 110px 110px;
}

.submit-button:hover{
    border: 2px solid rgb(175, 92, 33);
    background-color:darkorange;
    color:white
}

a {
    margin: 20px;
    font-size: xx-large;
    color: blue;
    
}